<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add new client</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        form {
            max-width: 600px;
            display: block;
            margin: 0 auto;
        }


        select:invalid {
            color: gray;
        }

        .select-wrapper {
            position: relative;
            width: 100%;
        }

        select {
            width: 100%;
            height: 50px;
            padding: 17px 25px 15px;
            color: #000;
            border: 1px solid #D7D7D7;
            cursor: pointer;
            background: #fff;
            outline: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
        }

        select::-ms-expand {
            display: none;
        }

        .select-arrow {
            pointer-events: none;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 5px 0;
            border-color: #000 transparent transparent transparent;
            right: 16px;
            top: calc(50% - 2px);
        }
    </style>

</head>

<body>

    <form class="p-2">

        <h2>Add new client</h2>

        <label for="paymentType">Select client account type:</label>
        <div class="select-wrapper">
            <select class="form-control" name="paymentType" id="paymentType" required>
                <option value="" disabled selected>Select your option</option>
                <option value="private">Private</option>
                <option value="corporate">Corporate</option>
            </select>
            <div class="select-arrow"></div>
        </div>

        <label for="clientName">Client/Company Name:</label><br />
        <input type="text" class="form-control" name="clientName" id="clientName" required />

        <div class="form-group" id="companyInfoDiv">
            <label for="edrpo">Company registry id (EDRPO):</label><br />
            <input type="text" class="form-control" name="edrpo" id="edrpo" />

            <label for="corporateRepresentative">Corporate representative:</label><br />
            <input type="text" class="form-control" name="corporateRepresentative" id="corporateRepresentative" />
        </div>

        <label for="phoneNumber">Phone number:</label><br />
        <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" required />

        <label for="messengerType">Messenger type:</label><br />
        <input type="text" class="form-control" name="messengerType" id="messengerType" required />

        <label for="email">Email:</label><br />
        <input type="text" class="form-control" name="email" id="email" required />

        <label for="tariffPlan">Select a tariff plan:</label><br />
        <div class="select-wrapper">
            <select class="form-control" id="tariffPlan" name="tariffPlan" required>
                <option value="" disabled selected>Select your option</option>
                <option value="start">Start</option>
                <option value="pro">Pro</option>
                <option value="pro+">Pro+</option>
            </select>
            <div class="select-arrow"></div>
        </div>


        <label for="tariff">Tariff:</label><br />
        <input type="text" class="form-control" name="tariff" id="tariff" required />

        <label for="devicesQuantity">Number of devices:</label><br />
        <input type="text" class="form-control" name="devicesQuantity" id="devicesQuantity" required />

        <label for="wialonStatus">Wialon status:</label><br />
        <input type="text" class="form-control" name="wialonStatus" id="wialonStatus" required />

        <label for="serverIp">Server ip:</label><br />
        <input type="text" class="form-control" name="serverIp" id="serverIp" required />
        <br />
        <button type="submit" class="btn btn-warning">
            Submit Form — Add Client
        </button>
    </form>


    <script>
        $("#paymentType").change(function () {
            $('#edrpo').val('');
            $('#corporateRepresentative').val('');
            if ($(this).val() == "corporate") {
                $('#companyInfoDiv').show()
                $('#edrpo').attr("required", true)
                $('#corporateRepresentative').attr("required", true)
            } else {
                $('#companyInfoDiv').hide()
                $('#edrpo').removeAttr("required")
                $('#corporateRepresentative').removeAttr("required")
            };
        });
        $("#paymentType").trigger("change");

        $(document).ready(function () {
            $("form").submit(function (event) {
                var formData = {
                    clientName: $("#clientName").val(),
                    edrpo: $("#edrpo").val(),
                    corporateRepresentative: $("#corporateRepresentative").val(),
                    phoneNumber: $("#phoneNumber").val(),
                    messengerType: $("#messengerType").val(),
                    email: $("#email").val(),
                    paymentType: $("#paymentType").val(),
                    tariffPlan: $("#tariffPlan").val(),
                    tariff: $("#tariff").val(),
                    devicesQuantity: $("#devicesQuantity").val(),
                    wialonStatus: $("#wialonStatus").val(),
                    serverIp: $("#serverIp").val()
                };

                $.ajax({
                    type: "POST",
                    // url: '<%= process.env.ADDCLIENT_ENDPOINT %>',
                    url: "http://localhost:3000/api/addClient",
                    data: formData,
                    success: function (responseClientObject) {
                        console.log("Successfully added new client");
                        console.log(responseClientObject);
                        alert("Client ID is: " + responseClientObject._id);
                    },
                    error: function (jqXHR, status, error) {
                        console.log(jqXHR.status);
                        console.log(jqXHR.responseText);
                        console.log(status);
                        console.log(error);
                    },
                });
                event.preventDefault();
            });
        });
    </script>
</body>

</html>