<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Find client by ID</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <style>
    form {
      max-width: 600px;
      display: block;
      margin: 0 auto;
    }

    table {
      max-width: 600px;
      display: block;
      margin: 0 auto;
    }
  </style>

</head>

<body>

  <form class="p-2">

    <h2>Find Client By ID</h2>

    <label for="searchedClientId">Client ID:</label><br />
    <input type="text" class="form-control" name="searchedClientId" id="searchedClientId" required />

    <button type="submit" class="btn btn-warning">
      Submit Form — Find Client
    </button>
  </form>

  <br />
  <br />

  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <th scope="row" width="50%">Client ID:</th>
        <td id="clientIdfromResponseObject" width="50%"></td>
      </tr>

      <tr>
        <th scope="row">Payment type:</th>
        <td id="paymentType"></td>
      </tr>

      <tr>
        <th scope="row">Client name:</th>
        <td id="clientName"></td>
      </tr>

      <tr>
        <th scope="row">EDRPO:</th>
        <td id="edrpo"></td>
      </tr>

      <tr>
        <th scope="row">Corporate representative:</th>
        <td id="corporateRepresentative"></td>
      </tr>

      <tr>
        <th scope="row">Phone number:</th>
        <td id="phoneNumber"></td>
      </tr>

      <tr>
        <th scope="row">Messenger type:</th>
        <td id="messengerType"></td>
      </tr>

      <tr>
        <th scope="row">Email:</th>
        <td id="email"></td>
      </tr>

      <tr>
        <th scope="row">Tariff plan:</th>
        <td id="tariffPlan"></td>
      </tr>

      <tr>
        <th scope="row">Tariff:</th>
        <td id="tariff"></td>
      </tr>

      <tr>
        <th scope="row">Devices quantity:</th>
        <td id="devicesQuantity"></td>
      </tr>

      <tr>
        <th scope="row">Balance:</th>
        <td id="balance"></td>
      </tr>

      <tr>
        <th scope="row">Wialon status:</th>
        <td id="wialonStatus"></td>
      </tr>

      <tr>
        <th scope="row">Server IP:</th>
        <td id="serverIp"></td>
      </tr>
    </tbody>
  </table>

  <script>
    
    $(document).ready(function () {
      $("form").submit(function (event) {

        let clientId = $("#searchedClientId").val().trim();

        $.ajax({
          type: "GET",
          //url: "<%= process.env.GETCLIENT_ENDPOINT %>"  + "/" + clientId,
          url: `http://localhost:3000/api/getClient/${clientId}`,
          success: function (responseClientObject) {
            console.log("getClient form — received an object from DB: ", responseClientObject);
            $("#clientIdfromResponseObject").html(responseClientObject._id);
            $("#paymentType").html(responseClientObject.paymentType);
            $("#clientName").html(responseClientObject.clientName);
            $("#edrpo").html(responseClientObject.edrpo);
            $("#corporateRepresentative").html(responseClientObject
              .corporateRepresentative);
            $("#phoneNumber").html(responseClientObject.phoneNumber);
            $("#messengerType").html(responseClientObject.messengerType);
            $("#email").html(responseClientObject.email);
            $("#tariffPlan").html(responseClientObject.tariffPlan);
            $("#tariff").html(responseClientObject.tariff);
            $("#devicesQuantity").html(responseClientObject.devicesQuantity);
            $("#balance").html(responseClientObject.balance);
            $("#wialonStatus").html(responseClientObject.wialonStatus);
            $("#serverIp").html(responseClientObject.serverIp);

            $("table tr td").each(function () {
              let emptyRows = $.trim($(this).text());
              if (emptyRows.length == 0) {
                $(this).parent().hide();
              } else {
                $(this).parent().show();
              }
            })


          },
          error: function (jqXHR, status, error) {
            console.log(jqXHR.status);
            alert("ERROR: " + jqXHR.responseText);
            console.log(jqXHR.responseText);
            console.log(status);
            console.log(error);
          },
        });

        event.preventDefault();

      });
    });
  </script>
</body>

</html>