<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find client devices by ID</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        form {
            max-width: 600px;
            display: block;
            margin: 0 auto;
        }

        table {
            max-width: 600px;
            display: block;
            margin: 0 auto;
        }

        button {
            max-width: 600px;
            display: block;
            margin: 0 auto;
        }
    </style>

</head>

<body>

    <form id="clientSearchForm" class="p-2">

        <h2>Find Client Devices By ID</h2>

        <label for="searchedClientId">Client ID:</label><br />
        <input type="text" class="form-control" name="searchedClientId" id="searchedClientId" required />

        <button type="submit" class="btn btn-warning">
            Find Client Devices
        </button>
    </form>

    <br />

    <table class="table table-bordered table-striped">
        <tbody>

            <tr>
                <th scope="row" width="50%">Client ID:</th>
                <td id="clientIdfromResponseObject" width="50%"></td>
            </tr>


            <tr>
                <th scope="row" width="50%">Client ID:</th>
                <td id="clientIdfromResponseObject" width="50%"></td>
            </tr>

            <tr>
                <th scope="row">100 (Start) :</th>
                <td id="start"></td>
            </tr>

            <tr>
                <th scope="row">140 (Pro) :</th>
                <td id="pro"></td>
            </tr>

            <tr>
                <th scope="row">210 (Pro+) :</th>
                <td id="proPlus"></td>
            </tr>


        </tbody>
    </table>

    <form id="deviceActionsForm" class="p-2">

        <h2>Select a device action:</h2>

        <div class="form-group">
            <select class="form-control" name="deviceActionSelect" id="deviceActionSelect" required>
                <option value="" disabled selected>Select an action:</option>
                <option value="addDevice">Add a device</option>
                <option value="deleteDevice">Delete a device</option>
            </select>
        </div>

        <div class="form-group" id="deviceInfoDiv">
            <label for="deviceTariffInput" id="deviceTariffInputLabel">Enter a tariff for new device:</label><br />
            <input type="text" class="form-control" name="deviceTariffInput" id="deviceTariffInput" />

            <label for="deviceImeiInput" id="deviceImeiInputLabel">Enter device IMEI:</label><br />
            <input type="text" class="form-control" name="deviceImeiInput" id="deviceImeiInput" />
            <br />
            <button type="submit" class="btn btn-primary">
                Submit Action
            </button>
        </div>

    </form>

    <script>
        $("#deviceActionSelect").change(function () {
            $('#deviceTariffInput').val('');
            $('#deviceImeiInput').val('');
            if ($(this).val() == "addDevice") {
                $('#deviceTariffInputLabel').show()
                $('#deviceImeiInputLabel').show()
                $('#deviceTariffInput').show()
                $('#deviceImeiInput').show()
                $('#deviceTariffInput').attr("required", true)
                $('#deviceImeiInput').attr("required", true)
            } else if ($(this).val() == "deleteDevice") {
                $('#deviceTariffInputLabel').hide()
                $('#deviceTariffInput').hide()
                $('#deviceTariffInput').removeAttr("required")
                $('#deviceImeiInputLabel').show()
                $('#deviceImeiInput').show()
                $('#deviceImeiInput').attr("required", true)
            } else {
                $('#deviceTariffInputLabel').hide()
                $('#deviceImeiInputLabel').hide()
                $('#deviceTariffInput').hide()
                $('#deviceImeiInput').hide()
                $('#deviceTariffInput').removeAttr("required")
                $('#deviceImei').removeAttr("required")

            };
        });
        $("#deviceActionSelect").trigger("change");

        $(document).ready(function () {

            $("#clientSearchForm").submit(function (event) {

                let clientId = $("#searchedClientId").val().trim();

                $.ajax({
                    type: "GET",
                    //url: "<%= process.env.GETCLIENT_ENDPOINT %>"  + "/" + clientId,
                    url: `http://localhost:3000/api/getClientDevices/${clientId}`,
                    success: function (responseClientObject) {
                        console.log("getClientDevices form — received an object from DB: ",
                            responseClientObject);

                        $("#clientIdfromResponseObject").html(responseClientObject._id);

                        $("#start").html(responseClientObject.tariff[100].join(", "));
                        $("#pro").html(responseClientObject.tariff[140].join(", "));
                        $("#proPlus").html(responseClientObject.tariff[210].join(", "));


                    },
                    error: function (jqXHR, status, error) {
                        console.log(jqXHR.status);
                        alert("ERROR: " + jqXHR.responseText);
                        console.log(jqXHR.responseText);
                        console.log(status);
                        console.log(error);
                    },
                });

                event.preventDefault();

            });

            $("#deviceActionsForm").submit(function (event) {
                let deviceImei = $("#deviceImeiInput").val();
                console.log("Entered a following IMEI: " + deviceImei);

                let deviceTariff = $("#deviceTariffInput").val();
                console.log("Entered a following tariff: " + deviceTariff)

                let clientId = $("#searchedClientId").val().trim();
                if (!clientId) {
                    alert("Search for a client ID first");
                    return;
                }

                let deviceActionValue = $("#deviceActionSelect").val();

                let deviceActionEndpoint = "";
                if (deviceActionValue == "addDevice") {
                    deviceActionEndpoint = "http://localhost:3000/api/getClientDevices/addClientDevice"
                } else {
                    deviceActionEndpoint =
                        "http://localhost:3000/api/getClientDevices/deleteClientDevice"
                }

                $.ajax({
                    type: "PUT",
                    url: deviceActionEndpoint,
                    data: {
                        clientId,
                        deviceImei,
                        deviceTariff
                    },
                    success: function (response) {
                        alert("Object (tracker) action success");
                        console.log("Object (tracker) action success");
                    },
                    error: function (jqXHR, status, error) {
                        console.log(jqXHR.status);
                        console.log(jqXHR.responseText);
                        console.log(status);
                        console.log(error);
                    },
                });
                event.preventDefault();
            });
        });
    </script>
</body>

</html>